<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="main-container">
  <nav>
    <h1>FacebookClone</h1>
    <ul class="nav-menu">
      <% if user_signed_in? %>
        <li><%= link_to "Sign out",  destroy_user_session_path, :method => :delete %></li>
        <li><%= link_to "Home", posts_path %></li>
        <li><%= link_to "New Post", new_post_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Friends", users_friends_path(current_user) %></li>
        <li><%= link_to "Pending friend requests", user_friend_requests_path %></li>
      <%else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <%end %>
    </ul>

    <% if user_signed_in? %>
      <% @requests = current_user.friend_requests%>
      <div class="notifications">
        <div class="notifications-head">
          <p>Notifications: <span class="notifications-counter"><%= @requests.count %></span></p>
        </div>
        <div class="notifications-main">
          <ul class="requests-list">
            <% @requests.each do |user| %>
              <li class="requests-list-item">
                <p><%= user.email %></p>
                <%= link_to "Accept", accept_friend_request_path(user.id, current_user.id), method: :put, class: 'greenlink'%>
                <%= link_to "Decline", delete_friend_request_path(user.id, current_user.id), method: :delete, class: 'redlink' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </nav>
  <div id="page-content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </div>
  </body>
</html>
