<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Home", posts_path %></li>
        <li><%= link_to "New Post", new_post_path %></li>
        <li><%= link_to "Users", users_path %></li>
      <%else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <%end %>
    </ul>
  </nav>
  <%= yield %>
  </body>
</html>
